<mat-card *ngIf="photo" class="example-card">
    <img
        #image
        mat-card-image
        class="photo-image"
        [src]="'photo.urls.small'"
        [alt]="photo.alt_description"
        [ngStyle]="{'height.px': imageSize}"
    >
    <mat-card-content>
        <p>
            Photo by
            <a [href]="photo.user.links.html | unsplashLink">
                {{photo.user.name}}
            </a>
            on <a [href]="'https://unsplash.com/' | unsplashLink">Unsplash</a>
        </p>
    </mat-card-content>
</mat-card>

<button
    mat-mini-fab
    class="photo-like-button"
    aria-label="Like"
>
    <mat-icon>favorite_outline</mat-icon>
</button>
